# 1. Import the necessary libraries

In [11]:
# Import the necessary libraries
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly as px

In [9]:
pip install plotly

Requirement already satisfied: plotly in c:\programdata\miniconda3\lib\site-packages (5.17.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\miniconda3\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\programdata\miniconda3\lib\site-packages (from plotly) (23.0)
Note: you may need to restart the kernel to use updated packages.

# 2. Load the Data Set

In [2]:
#Read the data set using pandas
df=pd.read_csv('tested.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# 3. Analyze the Data Set

In [3]:
# Display information about the DataFrame
df.info()
# Remark: This line prints a concise summary of the DataFrame, including the column names, data types, and non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [5]:
# Check the duplicated values in Data Set
df.duplicated().sum()

0

In [6]:
# Check the unique values in the 'Embarked' column
df['Embarked'].unique()

array(['Q', 'S', 'C'], dtype=object)

In [7]:
# Check the unique values in the 'Ticket' column
df['Ticket'].unique()

array(['330911', '363272', '240276', '315154', '3101298', '7538',
       '330972', '248738', '2657', 'A/4 48871', '349220', '694', '21228',
       '24065', 'W.E.P. 5734', 'SC/PARIS 2167', '233734', '2692',
       'STON/O2. 3101270', '2696', 'PC 17603', 'C 17368', 'PC 17598',
       'PC 17597', 'PC 17608', 'A/5. 3337', '113509', '2698', '113054',
       '2662', 'SC/AH 3085', 'C.A. 31029', 'C.A. 2315', 'W./C. 6607',
       '13236', '2682', '342712', '315087', '345768', '1601', '349256',
       '113778', 'SOTON/O.Q. 3101263', '237249', '11753',
       'STON/O 2. 3101291', 'PC 17594', '370374', '11813', 'C.A. 37671',
       '13695', 'SC/PARIS 2168', '29105', '19950', 'SC/A.3 2861',
       '382652', '349230', '348122', '386525', '349232', '237216',
       '347090', '334914', 'F.C.C. 13534', '330963', '113796', '2543',
       '382653', '349211', '3101297', 'PC 17562', '113503', '359306',
       '11770', '248744', '368702', '2678', 'PC 17483', '19924', '349238',
       '240261', '2660', '330844', 'A/4 31416', '364856', '29103',
       '347072', '345498', 'F.C. 12750', '376563', '13905', '350033',
       '19877', 'STON/O 2. 3101268', '347471', 'A./5. 3338', '11778',
       '228414', '365235', '347070', '2625', 'C 4001', '330920', '383162',
       '3410', '248734', '237734', '330968', 'PC 17531', '329944', '2680',
       '2681', 'PP 9549', '13050', 'SC/AH 29037', 'C.A. 33595', '367227',
       '392095', '368783', '371362', '350045', '367226', '211535',
       '342441', 'STON/OQ. 369943', '113780', '4133', '2621', '349226',
       '350409', '2656', '248659', 'SOTON/OQ 392083', 'CA 2144', '113781',
       '244358', '17475', '345763', '17463', 'SC/A4 23568', '113791',
       '250651', '11767', '349255', '3701', '350405', '347077',
       'S.O./P.P. 752', '347469', '110489', 'SOTON/O.Q. 3101315',
       '335432', '2650', '220844', '343271', '237393', '315153',
       'PC 17591', 'W./C. 6608', '17770', '7548', 'S.O./P.P. 251', '2670',
       '2673', '29750', 'C.A. 33112', '230136', 'PC 17756', '233478',
       '113773', '7935', 'PC 17558', '239059', 'S.O./P.P. 2', 'A/4 48873',
       'CA. 2343', '28221', '226875', '111163', 'A/5. 851', '235509',
       '28220', '347465', '16966', '347066', 'C.A. 31030', '65305',
       '36568', '347080', 'PC 17757', '26360', 'C.A. 34050', 'F.C. 12998',
       '9232', '28034', 'PC 17613', '349250', 'SOTON/O.Q. 3101308',
       'S.O.C. 14879', '347091', '113038', '330924', '36928', '32302',
       'SC/PARIS 2148', '342684', 'W./C. 14266', '350053', 'PC 17606',
       '2661', '350054', '370368', 'C.A. 6212', '242963', '220845',
       '113795', '3101266', '330971', 'PC 17599', '350416', '110813',
       '2679', '250650', 'PC 17761', '112377', '237789', '3470', '17464',
       '26707', 'C.A. 34651', 'SOTON/O2 3101284', '13508', '7266',
       '345775', 'C.A. 42795', 'AQ/4 3130', '363611', '28404', '345501',
       '345572', '350410', 'C.A. 34644', '349235', '112051', 'C.A. 49867',
       'A. 2. 39186', '315095', '368573', '370371', '2676', '236853',
       'SC 14888', '2926', 'CA 31352', 'W./C. 14260', '315085', '364859',
       '370129', 'A/5 21175', 'SOTON/O.Q. 3101314', '2655', 'A/5 1478',
       'PC 17607', '382650', '2652', '33638', '345771', '349202',
       'SC/Paris 2123', '113801', '347467', '347079', '237735', '315092',
       '383123', '112901', '392091', '12749', '350026', '315091', '2658',
       'LP 1588', '368364', 'PC 17760', 'AQ/3. 30631', 'PC 17569',
       '28004', '350408', '347075', '2654', '244368', '113790', '24160',
       'SOTON/O.Q. 3101309', 'PC 17585', '2003', '236854', 'PC 17580',
       '2684', '2653', '349229', '110469', '244360', '2675', '2622',
       'C.A. 15185', '350403', 'PC 17755', '348125', '237670', '2688',
       '248726', 'F.C.C. 13528', 'PC 17759', 'F.C.C. 13540', '113044',
       '11769', '1222', '368402', '349910', 'S.C./PARIS 2079', '315083',
       '11765', '2689', '3101295', '112378', 'SC/PARIS 2147', '28133',
       '112058', '248746', '315152', '29107', '680', '366713', '330910',
       '364498', '376566', 'SC/PARIS 2159', '349911', '244346', '364858',
       '349909', 'PC 17592', 'C.A. 2673', 'C.A. 30769', '371109', '13567',
       '347065', '21332', '28664', '113059', '17765', 'SC/PARIS 2166',
       '28666', '334915', '365237', '19928', '347086', 'A.5. 3236',
       'PC 17758', 'SOTON/O.Q. 3101262', '359309', '2668'], dtype=object)

## 3.1 Displaying the %age of survived and not survived persons by using Pie Chart

In [13]:
# This is the pie chart that shows how many percent male and female are survived.
# piechart
import plotly.express as px
df_pie = df['Survived'].value_counts().reset_index()
df_pie.columns = ['Survived', 'Sex']
fig7 = px.pie(df_pie, values='Sex', names='Survived')
fig7.show()

# save the plot
fig7.write_image("fig7.png", scale=3)

# 4. Finding and Remove the Null Values

In [ ]:
# Display the sum of all null values in dataset
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
# Calculate the percentage of missing values in each column
(df.isnull().sum() / len(df) * 100).sort_values(ascending=False) 
# Remark: This line calculates the percentage of missing values in each column and sorts them in descending order

Cabin          78.229665
Age            20.574163
Fare            0.239234
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Embarked        0.000000
dtype: float64

In [ ]:
# Fill missing values in the 'Age' column with the mean age
df['Age']=df['Age'].fillna(df['Age'].mean())

In [ ]:
# Drop the 'Cabin' column from the DataFrame
df = df.drop('Cabin', axis=1)
# Remark: This line removes the 'Cabin' column from the DataFrame

In [ ]:
# Drop rows with missing values in the 'Fare' column
df.dropna(subset=['Fare'], inplace=True)

### Finally we remove all the null values from our data set :)

In [ ]:
# Count the number of missing values in each column
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

# 5. Encode the 'Sex' and "Embarked" columns using label encoding

In [ ]:
# Instantiate a LabelEncoder object
labelencoder= LabelEncoder()
# Encode the 'Sex' column using label encoding
df['Sex']=labelencoder.fit_transform(df['Sex'])
# Remark: The 'Sex' column has been encoded using label encoding
df.head()
# Encode the 'Embarked' column using label encoding
labelencoder= LabelEncoder()
df['Embarked']=labelencoder.fit_transform(df['Embarked'])
df.head()
# Remark: The 'Embarked' column has been encoded using label encoding

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,1
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,2
2,894,0,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,1
3,895,0,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,2
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,2

# 6. Import the models and Metrices for Machine Learning Task

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### 6.1 Split and store the columns into input and output variable

In [ ]:
# Split adnd store the columns into input and output variable
X = df[['PassengerId', 'Pclass', 'Embarked','Sex', 'Age', 'SibSp',
       'Parch',  'Fare', ]]
Y=df['Survived']

### 6.2 Train the data set using five models and get accuracy score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
# Define a list of models
models = [LogisticRegression(), SVC(), DecisionTreeClassifier(), RandomForestClassifier(), KNeighborsClassifier()]
model_names = ['Logistic Regression', 'SVM', 'Decision Tree', 'Random Forest', 'KNN']
# Create an empty list to store model scores
models_scores = []
# Iterate over the models and evaluate their performance
for model, model_name in zip(models, model_names):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    models_scores.append([model_name,accuracy])
# Sort the models based on accuracy scores in descending order
sorted_models = sorted(models_scores, key=lambda x: x[1], reverse=True)
for model in sorted_models:
    print("Accuracy Score: ",f'{model[0]} : {model[1]:.2f}')

c:\ProgramData\miniconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

Accuracy Score:  Logistic Regression : 1.00
Accuracy Score:  Decision Tree : 1.00
Accuracy Score:  Random Forest : 1.00
Accuracy Score:  KNN : 0.62
Accuracy Score:  SVM : 0.60

### Input your own values for prediction :)

In [ ]:
# Input your own values for prediction
input_values = {'PassengerId':100, 'Pclass':3, 'Embarked':3, 'Sex':0, 'Age':77, 'SibSp':2,
       'Parch':0,  'Fare':7.8292,}

# Convert the input values to a DataFrame
input_df = pd.DataFrame([input_values])



# Make predictions using each model
for model, model_name in zip(models, model_names):
    prediction = model.predict(input_df)
    print(f'{model_name} Predicted Value:', prediction[0])

Logistic Regression Predicted Value: 1
SVM Predicted Value: 0
Decision Tree Predicted Value: 1
Random Forest Predicted Value: 1
KNN Predicted Value: 1